html body {
  margin: 0;
  padding: 0;
  color: black;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background: no-repeat;
}

body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}



.navbar {
  position: absolute;
  display: flex;
  height: 60px;
  background: transparent;
  top: 0;
  width: 100vw;
  z-index: 2; 
  overflow: hidden;
 
}


.navbar a {
  text-decoration: none; 
  color: rgb(6, 6, 8);
  justify-content: space-between;
  

  
}

 


.heading{
  position: relative;
    background: transparent;
    color: black;
    display: flex;
    position: absolute;
    width: 60%;
    height: 55%;
    margin-top: 10vh;
    margin-left: 5vw;
    left: 0px;
    z-index: 2;
    flex-direction: column;
    top: 0px;
    overflow: hidden;
    text-align: justify;
    padding: 1.5vw;

}

.h1{
  font-size: 2rem;
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-size: bold;
  font-weight: 400;
  line-height: 1.55;
  display: block;
  text-align: justify;
}

.h2{
  font-size: 2rem;
  display: inline-flex;
  text-align: justify;
  font-family: "Inter", sans-serif;

}






#btn{
 
  width: 10rem;
  border-radius: 2px; 
  height: 30rem;
  overflow: hidden;
}




.container2{
  position: absolute;
  border-radius: 59px;
  background: #2d4059;
  top: 40vh;
  color: #0b0909;
  padding: 1rem;
  border-radius: 5px;
  width: 48vw;
  height: 20vh;
 
}

.blog-post a {
  color: #560ae3;
  text-decoration: none;
}

#blog-post1{
  position: absolute;
  top: 80vh;

}




a:hover {
  color: #183aac !important;
  background-color: #dfe9f3;
  border: 1px solid #080408; 
}




.container1{
  margin-top: 2vh;
  width: 100vw;
  height: 60vh;
  background: #f8b400;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  
  
}




